.container {
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    // padding: 0;
    // width: 375px;
    // height: 100px;
    // align-items: flex-start;
    // row-gap: 30rem;
    // gap: 4rem;

}

.top {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    // gap: 10px;
    // background-color: blanchedalmond;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    // justify-content: space-between;
    // align-items: flex-start;
}

.text1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    text-align: left;
    color: #475569;
    // text-align: justify;
}

.text2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;

    color: #64748B;
}
