.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    background-color: #e0f0ff;
    padding-left: 5%;
    padding-right: 5%;
    // border: red solid 2px;
    // border-bottom: red solid 1px;
    // margin-left: 40px;
    // padding: 50px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3%;
    gap: 16px;
    @media (max-width: 650px){
        display: none;
    }

}

.hamburger{
    @media (min-width: 650px){
        display: none;
    }
}

.m2{
    @media (min-width: 650px){
        display: none;
    }
}

.text{
    font-family: "Inter";
    font-weight: 400;
    color: #64748B;
}