.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    background-color: #f6f9fb;

    padding-top: 2rem;
    padding-bottom: 2rem;
    // padding-left: 8rem;
    // padding-right: 8rem;
    row-gap: 2rem;
    z-index: 1;

    @media (max-width: 650px) {
        padding: 0%;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        padding-left: 5%;
        padding-right: 5%;
        row-gap: 1rem;
    }
}

.subcontainer {
    
    width: 80%;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;

    @media (max-width: 650px) {
        grid-template-columns: auto;
        // padding: 0%;
        // padding-top: 2rem;
        // padding-bottom: 1.5rem;
        // padding-left: 5%;
        // padding-right: 5%;
        // row-gap: 1rem;
    }
    // white-space: nowrap;
    // padding: 0;
}

.Headline2Text {
    font-family: Extatica;
    font-size: 40px;
    font-weight: 600;
    line-height: 51.2px;
    text-align: center;

    // z-index: 1;

    background: linear-gradient(to right, #355ded, #6f33f0, #2d56ec, #2480eb, #1aacea);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-left: 10%;
    padding-right: 10%;

    // background-color: #1aacea;

    @media (max-width: 650px) {
        font-size: 28px;
    }
}
